package trips

import "waritally/internal/server/views/layout"

templ NewTrip() {
	@layout.BaseLayout("Create New Trip") {
		<h1 class="text-3xl font-bold text-primary mb-6">Create New Trip</h1>
	}
}
